---
openapi: 3.1.0
info:
  title: custom-rendering-api
  version: '100.7'
servers:
- url: https://conduit.redfast.com
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: rf-app
security:
- sec0: []
paths:
  "/ping":
    get:
      summary: Ping
      description: The ping call is the starting point to interacting with the Redfast
        backend
      operationId: ping-api
      parameters:
      - name: id
        in: query
        description: App ID - this may be used instead of the `rf-app` authorization
          header
        schema:
          type: string
      - name: device_type
        in: query
        description: Accepted values are web, roku_os, ios, tv_os, android_os (additional
          values for custom devices may be specified). Defaults to web if not specified.
        schema:
          type: string
          default: web
      - name: user-id
        in: header
        description: Unique identifier for the unauthenticated user
        schema:
          type: string
          default: test-user
      - name: anonymous-user-id
        in: header
        description: Unique authenticated identifier for the user
        schema:
          type: string
          default: anon-123
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "paths": [
                        {
                          "name": "Test prompt",
                          "device_type": "web",
                          "path_type": 5,
                          "zone": "rf-hero",
                          "settings": {
                            "iab": "custom",
                            "width": "960px",
                            "height": "300px"
                          },
                          "order": 1,
                          "triggers": [
                            {
                              "url_hash": null,
                              "use_regex": false,
                              "query_params": null,
                              "custom_trigger_id": null,
                              "click_count_threshold": 0,
                              "custom_trigger_seconds": 2,
                              "id": "67168f70-e4c8-4736-9e78-fae99e1ab5f3",
                              "trigger_type": "web",
                              "url_path": "*",
                              "click_id": null,
                              "inject": [],
                              "delay_seconds": 0
                            }
                          ],
                          "action_group_id": "a66822a2-6372-4c1b-a667-7ca2fedc3eec",
                          "action_group_name": "Variation 2", // name of variation if there is an experiment running, otherwise will be empty string
                          "path_group_slug": "d201bc9f-2bd6-4ae3-a1b2-990f0e6d2203",
                          "id": "0493d247-c1b2-40e4-8682-819825cbb822",
                          "actions": {
                            "rf_retention_title": "Movies without limits",
                            "rf_retention_message": "Download New Episodes. Brand new full length episodes you can watch while offline. Free for 1 month.",
                            "rf_settings_bg_image_web_desktop_preview_dims": "960x300",
                            "rf_settings_bg_image_web_desktop_composite": "https://img.redfast.com/image.jpg",
                            "rf_settings_bg_image_web_mobile_composite": "https://img.redfast.com/image2.jpg"
                          },
                          "zone_type": "code"
                        }
                      ],
                      "segments": [
                        {
                          "name": "All Users",
                          "id": "bae47505-4674-43c7-876c-3d39d71dbbd6"
                        },
                        {
                          "name": "First time visitor",
                          "id": "2da62b4e-1f36-4572-b6b8-7427298936ae"
                        }
                      ],
                      "configs": {
                        "ping_frequency": 300,
                        "last_update": 1574340818,
                        "device_type": "web",
                        "usage": []
                      },
                      "anonymous_user_id": "92276d8c7723448f219ae70fda3a29cc1b6eccd4d36b985f9d533ef3f21125f4",
                      "visitor_id": "test123"
                    }
              schema:
                type: object
                properties:
                  paths:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          example: Test prompt
                        device_type:
                          type: string
                          example: web
                        path_type:
                          type: integer
                          example: 5
                          default: 0
                        zone:
                          type: string
                          example: rf-hero
                        settings:
                          type: object
                          properties:
                            iab:
                              type: string
                              example: custom
                            width:
                              type: string
                              example: 960px
                            height:
                              type: string
                              example: 300px
                        order:
                          type: integer
                          example: 1
                          default: 0
                        triggers:
                          type: array
                          items:
                            type: object
                            properties:
                              url_hash: {}
                              use_regex:
                                type: boolean
                                example: false
                                default: true
                              query_params: {}
                              custom_trigger_id: {}
                              click_count_threshold:
                                type: integer
                                example: 0
                                default: 0
                              custom_trigger_seconds:
                                type: integer
                                example: 2
                                default: 0
                              id:
                                type: string
                                example: 67168f70-e4c8-4736-9e78-fae99e1ab5f3
                              trigger_type:
                                type: string
                                example: web
                              url_path:
                                type: string
                                example: "*"
                              click_id: {}
                              inject:
                                type: array
                              delay_seconds:
                                type: integer
                                example: 0
                                default: 0
                        action_group_id:
                          type: string
                          example: a66822a2-6372-4c1b-a667-7ca2fedc3eec
                        action_group_name:
                          type: string
                          example: Variation 2
                        path_group_slug:
                          type: string
                          example: d201bc9f-2bd6-4ae3-a1b2-990f0e6d2203
                        id:
                          type: string
                          example: '0493d247-c1b2-40e4-8682-819825cbb822'
                        actions:
                          type: object
                          properties:
                            rf_retention_title:
                              type: string
                              example: Movies without limits
                            rf_retention_message:
                              type: string
                              example: Download New Episodes. Brand new full length
                                episodes you can watch while offline. Free for 1 month.
                            rf_settings_bg_image_web_desktop_preview_dims:
                              type: string
                              example: 960x300
                            rf_settings_bg_image_web_desktop_composite:
                              type: string
                              example: https://img.redfast.com/image.jpg
                            rf_settings_bg_image_web_mobile_composite:
                              type: string
                              example: https://img.redfast.com/image2.jpg
                        zone_type:
                          type: string
                          example: code
                  segments:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          example: All Users
                        id:
                          type: string
                          example: bae47505-4674-43c7-876c-3d39d71dbbd6
                  configs:
                    type: object
                    properties:
                      ping_frequency:
                        type: integer
                        example: 300
                        default: 0
                      last_update:
                        type: integer
                        example: 1574340818
                        default: 0
                      device_type:
                        type: string
                        example: web
                      usage:
                        type: array
                  anonymous_user_id:
                    type: string
                    example: 92276d8c7723448f219ae70fda3a29cc1b6eccd4d36b985f9d533ef3f21125f4
                  visitor_id:
                    type: string
                    example: test123
      deprecated: false
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
